.searchResultVideo{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;    
    background: rgb(249, 249, 249);
    margin-top: 70px;
}
.feedVideo{
    width: 250px;
    height: 250px;
    display: flex;
    margin: 20px;
    
    
    li{
        list-style: none;
        margin: 0;
        padding: 0 10px;
    }

}