.videoPage {
  display: flex;
  justify-content: flex-start;

  .movie {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .player {
      width: 700px;
      height: 400px;
      margin-left: 100px;
      margin-top: 20px;
    }
  }
}
.likesBtn {
  margin-left: 550px;
}
.desc {
  height: 300px;
  width: 700px;
  overflow: scroll;
}

.num {
  padding: 2px;
  width: 15px;
}
// .videoPage {
//   margin-top: 20px;
//   display: flex;
//   justify-content: space-evenly;

//   .player {
//     display: flex;
//     align-self: center;
//   }

//   .likesBtn {
//     display: flex;
//     align-self: center;
//   }
//   .unlikesBtn {
//     display: flex;
//     align-self: center;
//   }
// }
