.videoPage {
    display: flex;
    justify-content: flex-start;

    .movie {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        .player {
            width:700px;
            height:400px;
            margin-left:50px;
        }

    }
}



